<html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../../public/css/application.css">

  <script src="../../public/js/jquery.js"></script>
  <script src="../../public/js/view.js"></script>
  <script src="../../public/js/square.js"></script>
  <script src="../../public/js/piece.js"></script>
  <script src="../../public/js/board.js"></script>
  <script src="../../public/js/game.js"></script>

  <title>Tetris</title>
</head>
<body>
  <div>
    <h1>Tetris</h1>
    <button id="start-game-button">Start Game</button>
    <p id="timer"></p>
    <table id="boardView">
    </table>
    <p id="hidden">Game Over</p>
  </div>
</body>
</html>
